body {
  background: #ccc;
}

.button {
  margin-top: 3%;
}

.buttonMic {
  margin-top: 3%;
  margin-left: 40%;
}

.login {
  margin-top: 10%;
  margin-left: 45%;
}

.mapFrame {
  display: inline-block;
  width: 80%;
  height: 600px;
}

.map-container {
  text-align: : center;
}