body {
  background: #ccc;
  text-align: center;
}

.button {
  margin-top: 3%;
}

.buttonMic {
  margin-top: 3%;
}

.login {
  margin-top: 3%;
}

.mapFrame {
  margin-top: 1%;
  display: inline-block;
  width: 80%;
  height: 600px;
}

.map-container {
  text-align: center;
}

.loading {
  height: 30em;
  width: 30em;
}

.notLoading {
  display: none;
}
