html {
  height: 100%;
}
body {
  height: 90%;
  text-align: center;
}

.buttonMic {
  margin-top: 3%;
}

.login {
  margin-top: 3%;
}

.mapFrame {
  margin-top: 1%;
  display: inline-block;
  width: 80%;
  height: 600px;
}

.map-container {
  text-align: center;
}

.loading {
  height: 30em;
  width: 30em;
}

.notLoading {
  display: none;
}

.notVisible {
  display: none;
}

.visible {

}

.gn {
  cursor: pointer;
}

